* {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

body {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

#divsonido {
	position: relative;
	display: flex;
	box-sizing: border-box;
    width: 200px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0;
}

#btnsonido {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 34px;
	vertical-align: middle;

}
#paradas {
	position: absolute;
	left: 0;
	bottom: 0;
}

#btnsonido,
#dropdown-paradas {
	background-color: orange;
}

.glyphicon {
    font-size: 20px;
    padding-left: 0;
}

ul.lista-tiempos {
	overflow: auto;
	max-height: 350px;
	background-color: orange;
}

ul.lista-tiempos.dropdown-menu {
/*	left: unset;
	right: 0; */
	left: 10px;
	min-width: 140px;
}

ul.lista-tiempos li {
	font-size: 1.2em;
	text-align: center;
	width: 140px;
}

ul.lista-tiempos li a {
	color: white;
	padding: 0;
}



.ejercicio {
  	box-sizing: border-box;
  	padding: 0px;	
  	margin-left: auto;
  	margin-right: auto;
}

#contenedor_reloj {
	 position: relative; 
	 top: 0; 
	 right: 0;
	 width: 200px;
	 height: 200px;
}

div {
	display: block;
}

h1 {
	margin-top: 0;
	background-color: orange;
	padding: 10px
}

h2.digital {
	box-sizing: border-box;
	width: 200px;
	display: block;
	color: #222;
	background-color: orange;
	font-family: 'Share Tech Mono', monospace;
	font-weight: 700;
	padding: 8px;
	border: solid 2px #333;
	border-radius: 5px;
}

h2.digital span#crono_cent {
	padding-left: 4px;
	font-size: 0.8em;
}

span.li_mins, span.li_secs, span.li_cent {
	font-family: 'Share Tech Mono', monospace;
	font-size: 1.5em;
}

span.li_cent {
	font-size: 1.1em;
	margin-left: 4px;
}

.colorwhite {
	color: white;
}
.colorblack {
	color: black;
}

button.misbotones {
	font-family: 'Oswald', sans-serif;
	font-size: large;
	background-color: #222;
	color: orange;
	width: 100px;
	height: 50px;
	border: none;
	border-radius: 5px 5px;
  	margin-bottom: 10px;

}

button.misbotones:focus,
#btnsonido:focus,
#dropdown-paradas:focus {
	outline:0;
}

button.misbotones:hover {
	color: white;
}

button.misbotones[disabled]{
    cursor: progress;
    color: gray;
}

svg {
	margin-bottom: 0;
}




